body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 2.6rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #40514E
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #EAF6F6;
  width: 10%;
}

.top-container {
  background-color: #ddf3f5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.skill-row-pic-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row-pic-tennis {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.oles-pic {
  width: 180px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.social-logo {
  width: 35px;
  margin: 5px;
}

.svg-icon {
  width: 100px;
}

.footer-link {
  text-decoration: none;
}
.copyright {
  color: #11999E;
}

.bottom-container {
  margin-top: 30px;
}
.btn {
  display: inline-block;
  background-color: #66BFBF;
  text-decoration: none;
  color: #EAF6F6;
  padding: 10px;
  margin: 20px;
}
