body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #ddf3f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}


#oles-pic {
  width: 180px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container {
  margin-top: 10px;
}
.social-logo {
  width: 35px;
}

.svg-icon {
  width: 100px;
}

.footer-link {
  text-decoration: none;
}
